

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <title>მესაუბრე</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/tippy.css">
    <link rel="stylesheet" href="/public/css/iziModal.min.css">
<%=error%>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-100083710-1', 'auto');
        ga('send', 'pageview');

    </script>

<style type="text/css">
	body {
    font: normal 16px/26px Arial, sans-serif;
    background: #fafafa;
    color: #2a3744;
}

.error-page {
    margin: 100px 0 40px;
    text-align: center;
}

.error-page__header-image {
    width: 112px;
}

.error-page__title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 31px;
}
</style>


</head>
  
  
  
  

<body>


<header class="header">

    <div class="container">

        <div class="logo">
            <a href="/"><img src="/public/img/logo.svg" alt="Logo"></a>
        </div>

        <div class="auth">
           
            <a href="/" class="auth__btn auth__btn_active">მთავარი გვერდი</a>
        </div>

    </div>

</header>


  <div class="error-page"><header class="error-page__header"><img class="error-page__header-image" src="https://static.tutsplus.com/assets/sad-computer-128aac0432b34e270a8d528fb9e3970b.gif" alt="Sad computer"><h1 class="error-page__title nolinks"></h1></header><br><br><h2 style="font-family: DejaVuNeue-Bold">თქვენ მიერ მოთხოვნილი გვერდი არ მოიძებნა</h2></div>
  
  
</body>
</html>


